* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 375px;
	width: 100%;
	min-height: 100vh;
}

.page {
	width: 100%;
}

header {
	width: 100%;
	background: linear-gradient(0deg, #FF9800, #6d020b);	
	padding: 2%;
	position: relative;
}

.logo {
	width: 10%;
    position: absolute;
    top: 10%;
    right: 10%;
}

h1 {
	font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #ebb922;
    text-shadow: 5px 5px 10px darkred;
}

nav {
	padding: 1%;
}

#navBar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

li {
	list-style-type: none;
	transition: .5s;
}

li:hover {
	transform: scale(1.5);
    background-color: #64130b;
    padding: 1%;
    border-radius: 5px;
}

a {
	text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-family: serif;
    font-weight: lighter;
}

#mainPage {
	background-image:url(/images/pizzabanner.jpg);
	padding: 9%;
    background-color: #efbe79;
}

#content {
	background-color: #ffffff73;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 130px orangered;
	display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
	font-family: sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: orangered;
    text-shadow: 5px 5px 30px yellow;
}

p {
	margin: 5%;
    font-size: 2rem;
    font-style: italic;
}

img {
	width: 20%;
}

td {
	width: 20%;
    text-align: center;
}

form {
	width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

input {
	width: 80%;
    padding: 4%;
    margin: 2%;
}

button {
	width: 80%;
    padding: 4%;
    margin: 2%;
    background-color: orangered;
    color: #FFEB3B;
    font-size: 2rem;
}