* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 375px;
	max-width: 1440px;
	width: 100%;
	min-height: 100vh;
}

.page {
	width: 100%;
}

header {
	width: 100%;
	background-image: url("/images/orangeHeader.jpg");
	padding: 2%;
}

nav {
	
}

#navBar {
	
}

li {
	
	
}

a {
	
}

#mainPage {
	
}








