* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 375px;
	max-width: 1440px;
	width: 100%;
	min-height: 100vh;
}

.page {
	width: 100%;
}

header {
	
}

nav {
	
}

#navBar {
	
}

li {
	
	
}

a {
	
}

#mainPage {
	
}








